doctype html
html
  head
  body
    | hello world!
    form(method="POST", action="/api/order")
      input(type="text",name="name",value="kirby")
      input(type="text",name="email",value="blah@bllah.blah")

      input(type="submit",value="submit")
